{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная навигационная страница{% endblock title %}</title>
</head>
<body>
    {% block content %}
        <div class="main">
            <a href="{% url "home_of_news" %}">
                <button class="btn btn-lg btn-block btn-primary">Новости</button>
            </a>
            <br><br>
            <a href="{% url "home_of_taskmanager" %}">
                <button class="btn btn-lg btn-block btn-warning">Заметки</button>
            </a>
            <br><br>
            <a href="{% url "home_of_weather" %}">
                <button class="btn btn-lg btn-block btn-success">Погода</button>
            </a>
        </div>
    {% endblock content %}
</body>
{% block style %}
    <style>
        .main {
            transition: all 0.5s ease;
            height: 270px;
            width: 600px;
            border-radius: 15px 15px 15px 15px;
            background-color: black;
            margin: 100px auto;
        }
        .main:hover {
            transform: scale(1.05);
        }
        .main a button {
            margin: 13px 30px;
            width: 90%;
        }
    </style>
{% endblock style %}
</html>